<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388706028077-dbbrmq7sh7c2cgrdrn695lq8gi44580a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388706028077-dbbrmq7sh7c2cgrdrn695lq8gi44580a</string>
	<key>API_KEY</key>
	<string>AIzaSyCwh0FOW_nNblDeUzwOzX9yCyMM30x-BVU</string>
	<key>GCM_SENDER_ID</key>
	<string>388706028077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.retrobighead.simple-book-log</string>
	<key>PROJECT_ID</key>
	<string>simple-book-log</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-book-log.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388706028077:ios:9a664f36b0fa7db32f86a4</string>
</dict>
</plist>