<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680482869845-bv3vpti5dvg4dn2eo5020htd0jnce87v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680482869845-bv3vpti5dvg4dn2eo5020htd0jnce87v</string>
	<key>API_KEY</key>
	<string>AIzaSyBsKHJxkyG64WkhMePtlKqb2wZoHjzKIng</string>
	<key>GCM_SENDER_ID</key>
	<string>680482869845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.retrobighead.simple-book-log</string>
	<key>PROJECT_ID</key>
	<string>simple-book-log-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-book-log-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680482869845:ios:07e3c81bbb0aaa87843adc</string>
</dict>
</plist>